<footer>
  <p>Email: <a href="mailto:hassaan.muhammad@ontariotechu.net">hassaan.muhammad@ontariotechu.net</a></p>
  <p>
    <a href="https://www.linkedin.com/in/hassaan-muhammad-083742384" target="_blank">
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
    &nbsp;|&nbsp;
    <a href="https://github.com/hassaanmuhammad-prog" target="_blank">
      <i class="fa-brands fa-github"></i> GitHub
    </a>
  </p>
  <p>&copy; 2025 Hassaan M</p>
</footer>
